@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Storm&display=swap');
@import "tailwindcss";
@theme{
    --color-line-gray : #CBCAD7;
    --color-text-gray : #575757;
    --color-primary : #2A9D90;
    --color-border-color : #D0D0D0;
    --color-primary-from: #1B2847;
    --color-primary-to: #2B3A5C;
    --font-primary: 'Poppins';
    --font-secondary: 'Josefin Sans';
    --font-inter : 'Inter';
    --color-menu-highlight: #EDF7F6;
    --shadow-card: 0 4px 11.2px 0 rgba(0, 0, 0, 0.1);
    --color-light-gray: #F5F5F5;
}

#editPro::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* track */
#editPro::-webkit-scrollbar-track {
  background: #EDF7F6;
  border-radius: 10px;
}

/* thumb */
#editPro::-webkit-scrollbar-thumb {
  background: #2A9D90; /* blue */
  border-radius: 10px;
}

/* hover */
#editPro::-webkit-scrollbar-thumb:hover {
  background: #056257b9;
}


